*,
*::before,
*::after {
	box-sizing: border-box;
}

.h1-title {
    width: 10rem;
    border: 4px red solid;
    font-weight: 800;
}

.main {
    border: 4px red solid;
    
    margin: min(2rem, 3%);
    margin-top: 7%;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-inline: auto;

}

.grid-container {
    display: grid;
    
}


.grid-cart {
    display: grid;
    
    margin-top: 3rem;
    border: 2px blue solid;
    gap: 1.5rem;
}

.grid-cart-item {
    display: grid;
    /* grid-template-columns: auto minmax(0,1fr); */
    grid-template-columns: auto minmax(0,1fr);
}

.grid-cart-item img {
    vertical-align: top;
    object-fit: contain;

    /* set up widths, kinda messy but whatever, maybe replace with clamps*/
    max-width: 9.5rem;
    max-height: 9.5rem;
    width: 90%;
    height: 90%;
    min-width: 2rem;
    min-height: 2rem;
    margin: 1rem;

    /* width: clamp(9.5rem, 60%, 3rem);
    height: clamp(9.5rem, 60%, 3rem); */
    border: 2px green solid;
}

.grid-item-info-price {
    display: grid;
    grid-template-columns: 4fr 1fr;

   
}

.grid-item-info {
    display: grid;
    grid-template-rows: 1.5fr 1.5fr 1fr 1fr;
}

.item-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    padding-top: 0.3rem;
    margin-bottom: 0.8rem;
    font-weight: 700;
}

.item-store {
    font-size: 1.1rem;
}

.item-link {
    font-size: 0.9rem;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.delete-button {
    background-image: url('../images/trash-can1.png');
    background-size: 1.5rem 1.5rem;
    background-color: #FFFBEA;
    width: 1.5rem;
    height:1.5rem;

    border: none;

}

.item-info-price {
    text-align: right;
}


.summary-container {
    width: 100%;
    border: 2px purple solid;
}

.summary {
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
    
}

@media (min-width: 58rem) {
    .main {
        border: 4px red solid;
        
        margin: min(2rem, 3%);
        margin-top: 6%;
    
        font-family: 'Inter', sans-serif;
    
        margin-inline: auto;
        
        
        width: min(64rem, 96%); /* feels about right 64 when screen's big, 96 when it's smaller and starts to encroach,
                                    64 is the max-width*/
    }

    .grid-container {
        display: grid;
        grid-template-columns: 5fr 2fr;    
    }

    .grid-cart-item {
        display: grid;
        /* grid-template-columns: auto minmax(0,1fr); */
        grid-template-columns: 2fr 5fr;
    }

    .grid-cart-item img {
        vertical-align: top;
        margin-inline: auto;
        margin-top: 0.5rem;
        max-width: 90%;
        max-height: 90%;
        /* min dimensions so you can see image if screen gets super small*/
        min-width: 5rem;
        min-height: 5rem;
        border: 2px pink solid;
    }

    .grid-item-info-price {
        display: grid;
    }

    .grid-item-info {
        display: grid;
        grid-template-rows: 2fr 2fr 2fr 1fr;
    }

    .item-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        font-size: 1rem;
        margin-top: 0.3rem;
    }

    .item-store {

    }

    .item-link {
        padding-top: 1.6rem;
        border: 2px blue solid;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    /* summary at the bottom disappears when window gets big */
    .summary-bottom {
        display: none;
    }

    /* make summary reappear with display: block */
    .summary {
        display: block;
    }
}
