*,
*::before,
*::after {
	box-sizing: border-box;
}

.main {
    display: grid; /* so that we can have a separate items list and then a summary single column */
    background-color: rgb(149, 4, 4);
    font-family: 'Inter', sans-serif;

    width: 65%;
    margin-top: 6%;
    margin-left: 20%;
}

.h1-title {
    background-color: rgb(240, 240, 240);
    width: 5em;
    padding: .5em;
    text-align: center;
    vertical-align: top;

    
}

.grid-cart {
    display: grid;
    grid-template-columns: 1fr;
    width: 70%;
    gap: 1em;
    
    background-color: rgb(255, 185, 127);
}

.grid-cart-item {
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: rgb(172, 172, 4);
}

.item-img {
    padding-left: .5em;
    padding-top: .5em;
    vertical-align: top;
    margin: auto;

    max-width: 90%;
    max-height: 90%;
    /* max-width: 15em;  */
    /* max-height: 13em; */
}

.grid-item-info-price {
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgb(57, 161, 1);

    width: 38em;
    margin-top: 1em;
}

.grid-item-info {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0.5em;
    
    max-width: 31em;
}

.item-title {
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    color: rgb(0, 221, 255);

    /* don't touch this, makes it so it wraps one line then does ... if too long*/
    display: -webkit-box;
    max-width: 31em;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-store {
    font-size: 1.1rem;
    font-family: 'Inter', sans-serif;
}

.item-info-price {
    text-align: right;
}

.grid-item-info img {
    height: 2em;
    width: 2em;
}